name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [{platform: linux/amd64, aws_cli_target: x86_64, runner: ubicloud-standard-8}, {platform: linux/arm64, aws_cli_target: aarch64, runner: ubicloud-standard-8-arm}]
    runs-on: ${{ matrix.os.runner }}
    environment: production
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Package Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Checkout the k8sbox repo
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - name: Get tag
        id: tagger
        run: echo "::set-output name=tag::$(git describe --tags HEAD)"
      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILDKIT: 1
        with:
          context: .
          platforms: ${{ matrix.os.platform }}
          build-args: |
            AWS_CLI_TARGET=${{ matrix.os.aws_cli_target }}
          push: true
          tags: |
            rudester/k8sbox:${{ steps.tagger.outputs.tag }}
            rudester/k8sbox:latest
            ghcr.io/rudimk/k8sbox:${{ steps.tagger.outputs.tag }}
            ghcr.io/rudimk/k8sbox:latest