name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubicloud-standard-8
    environment: production
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Login to GitHub Package Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}
      
      - name: Checkout the k8sbox repo
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      
      - name: Get tag
        id: tagger
        run: echo "tag=$(git describe --tags HEAD)" >> $GITHUB_OUTPUT
      
      - name: Build and push multi-platform image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            rudester/k8sbox:${{ steps.tagger.outputs.tag }}
            rudester/k8sbox:latest
            ghcr.io/rudimk/k8sbox:${{ steps.tagger.outputs.tag }}
            ghcr.io/rudimk/k8sbox:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max